$pColor: #00b4f0;
$sColor: #808080;
$fontSize: 12px;
$font: Helvetica, sans-serif;

h5 {
	color: $sColor;
	margin: 15px 0px 5px 0px;
}
h3 {
	color: $pColor;
	margin: 15px 0px 5px 0px;
}

.container {
	margin: 0;
	padding: 20px 50px;
	font-family: $font;
}

%border_shared {
	border-width: 1px;
	border-style: solid;
	border-color: $pColor;
}
%pad_shared {
	padding: 10px 15px;
	width: 190px;
}
.warning {
	@extend %border_shared;
	@extend %pad_shared;
	color: red;
}

.table_header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	div input {
		@extend %pad_shared;
		color: white;
		background-color: $pColor;
		border: none;
		font-size: $fontSize;
		margin-right: 5px;
	}
	div select {
		@extend %border_shared;
		@extend %pad_shared;
		font-size: $fontSize;
		margin-right: 5px;
		color: $sColor;
	}
	div a {
		text-decoration: none;
		font-size: $fontSize;
		@extend %pad_shared;
		color: $pColor;
		@extend %border_shared;
	}
}
.table_body {
	display: flex;
	justify-content: left;
	input {
		@extend %pad_shared;
	}
	select {
		@extend %pad_shared;
	}
	ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
	}
	ul li {
		margin-right: 15px;
	}
}

.table_element {
	width:200px;
	height: 200px;
	@extend %border_shared;	
	padding: 10px;
	margin-right: 20px;
}

#special {
	width: 190px;
}

#price {
	display: block;
}
