h5 {
  color: #808080;
  margin: 15px 0px 5px 0px;
}

h3 {
  color: #00b4f0;
  margin: 15px 0px 5px 0px;
}

.container {
  margin: 0;
  padding: 20px 50px;
  font-family: Helvetica, sans-serif;
}

.table_element, .table_header div a, .table_header div select, .warning {
  border-width: 1px;
  border-style: solid;
  border-color: #00b4f0;
}

.table_body select, .table_body input, .table_header div a, .table_header div select, .table_header div input, .warning {
  padding: 10px 15px;
  width: 190px;
}

.warning {
  color: red;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table_header div input {
  color: white;
  background-color: #00b4f0;
  border: none;
  font-size: 12px;
  margin-right: 5px;
}
.table_header div select {
  font-size: 12px;
  margin-right: 5px;
  color: #808080;
}
.table_header div a {
  text-decoration: none;
  font-size: 12px;
  color: #00b4f0;
}

.table_body {
  display: flex;
  justify-content: left;
}
.table_body ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.table_body ul li {
  margin-right: 15px;
}

.table_element {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 20px;
}

#special {
  width: 190px;
}

#price {
  display: block;
}

/*# sourceMappingURL=style.css.map */
